<?xml version="1.0"?>
<document url="http://www.uportal.org/index.xml">
    <properties>
        <author email="edalquist@unicon.net">Eric Dalquist</author>
        <title>Spring Configuration Example</title>
    </properties>
    
    <body>
        <section name="Overview">
            <p>
                The recomended method for configuring the PersonDirectory service.
            </p>
        </section>
        <section name="Configuring">
            <source>
&lt;bean id="uPortalLdapAttributeSource" class="org.jasig.portal.services.persondir.support.LdapPersonAttributeDaoImpl"&gt;
    &lt;property name="ldapContext"&gt;
        &lt;bean class="javax.naming.ldap.InitialLdapContext"&gt;
            &lt;constructor-arg index="0"&gt;
                &lt;map&gt;
                    &lt;entry key="java.naming.factory.initial" value="com.sun.jndi.ldap.LdapCtxFactory"/&gt;
                    &lt;entry key="java.naming.provider.url" value="ldap://mrfrumble.its.yale.edu:389/o=yale.edu"/&gt;
                &lt;/map&gt;
            &lt;/constructor-arg&gt;
        &lt;/bean&gt;
    &lt;/property&gt;
    &lt;property name="queryAttributes"&gt;
        &lt;list&gt;
            &lt;value&gt;uid&lt;/value&gt;
        &lt;/list&gt;
    &lt;/property&gt;
    &lt;property name="query"&gt;
        &lt;value&gt;(cn={0})&lt;/value&gt;
    &lt;/property&gt;
    &lt;property name="ldapAttributesToPortalAttributes"&gt;
        &lt;map&gt;
            &lt;entry key="mail"&gt;    &lt;value&gt;email&lt;/value&gt;&lt;/entry&gt;
        &lt;/map&gt;
    &lt;/property&gt;
&lt;/bean&gt;
            </source>
        </section>        
    </body>
</document>
